.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 31px;

    @include mobile {
        width: 480px;
    }

    @include tablet {
        width: 720px;
        padding: 0 39px;
    }
    
    @include desktop {
        width: 1200px;
        padding: 0 55px;
    }
}