:root {
    --main-title-color: #ffffff;
    --secondary-title-color: #303030;
    --primary-text-color: #555555;
    --secondary-text-color: rgba(157, 164, 189, 0.6);
    --label-color: rgba(157, 164, 189, 0.4);
    --prices-color: #9da4bd;
    --accent-color: #ff6c00;
    --primary-background-color: #ffffff;
    --secondary-background-color: #f7f7f7;
    --typical-margin: 20px;
}

$icons: "address", "phone", "mail";